# This is a basic workflow to help you get started with Actions

name: build

# Controls when the workflow will run
on: push

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Download FFmpeg
        run: |
          curl -LO "https://github.com/ShareX/FFmpeg/releases/download/v4.3.1/ffmpeg-4.3.1-win64.zip"
          unzip -qq ffmpeg-4.3.1-win64.zip -d .

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Install PyInstaller
        run: python -m pip install pyinstaller

      - name: Build executable
        run: pyinstaller --onefile ntscQT.py
        
      - name: Directories
        run: dir /s

      # - name: Upload artifact
      #  uses: actions/upload-artifact@v3
      #  with:
      #    name: ntscQT
      #    path: dist/ntscQT.exe
      #    retention-days: 2
